# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Data Files (Crucial: Prevents uploading assignment CSVs)
data/*.csv
data/*.zip
*.csv
data/masked_messages_temp.csv

# IDE / VS Code Settings
.vscode/
.DS_Store